body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    border: solid lightgray 1.5px;
    margin: .5em;
    padding: .5em;
    border-radius: .5em;
    /*width: 100%;*/
}
/* Example of how we can set variables in our CSS */
/* Good, When we need to use colors globally across the site. */
:root{
    --info-color: blue;
    --info-bg-color: lightblue;
}

.message-info{
    /* Example of using variables in CSS*/
    background-color: var(--info-bg-color);
    color: var(--info-color);
}

.message-success{
    background-color: lightgreen;
    color: green;
}

.message-warning{
    background-color: lightgoldenrodyellow;
    color: #ba9d37;
}

.message-error{
    background-color: lightcoral;
    color: red;
}